* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Epilogue", sans-serif;
}

body {
  background-color: hsl(0, 0%, 98%);
}

.primary-btn {
  padding: 0.7rem 1rem;
  background-color: hsl(0, 0%, 98%);
  color: black;
  border: 1.8px solid black;
  border-radius: 11px;
}

.secondary-btn {
  padding: 0.5rem 1rem;
  background-color: hsl(0, 0%, 98%);
  color: black;
  border: 0;
}

.accent-btn {
  background-color: black;
  color: hsl(0, 0%, 98%);
  padding: 1rem 1.5rem;
}

main {
  display: flex;
  justify-content: center;
  width: 75vw;
  margin: auto;
}
@media (min-width: 710px) {
  .section-image {
    width: 100%;
    background-image: url("../images/image-hero-desktop.png");
    height: 82vh;
    min-width: 410px;
    min-height: 612px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 50%;
  max-width: 800px;
  margin-right: 3%;
  margin-top: 7%;
}

.page-content > * {
  margin-top: 5%;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}

p {
  font-size: 1.125rem;
  margin-right: 4vw;
  color: hsl(0, 0%, 41%);
  line-height: 1.5rem;
  font-weight: 500;
}

.sponsors img {
  margin-right: 1.5rem;
}

.sponsors {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.page-content > button {
  font-size: 1.1rem;
}

footer {
  text-align: center;
  padding: 1rem 0;
  font-size: 0.8rem;
  color: hsl(0, 0%, 41%);
}

@media (orientation: portrait) {
  main {
    flex-direction: column-reverse;
    margin: 0;
    width: 100%;
  }
  .section-image {
    width: 100%;
    background-image: url("../images/image-hero-mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0;
    height: 75.2vw;
  }

  .page-content {
    align-items: center;
    margin: 0 15vw;
  }

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  .sponsors {
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}

@media (max-width: 710px) {
  .page-content {
    margin: 0 1rem;
  }
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
  
  .accent-btn {
    font-size: 1rem;
    padding: 0.7rem 1rem;
  }

  .sponsors > img {
    max-width: 20vw;
    margin: 2vw;
  }

  footer {
    font-size: 0.5rem;
  }

}
